button {
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  width: 150px;
  box-shadow: 2px2px5px#ccc;
}

button {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}
